{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            background-color: #e0f7fa;
        }
        .login-form {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
        }
        .login-form h1 {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
            color: #00796b;
        }
        .login-form label {
            margin-top: 10px;
            color: #00796b;
        }
        .login-form .form-control {
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #00796b;
        }
        .login-form .btn {
            width: 100%;
            background-color: #00796b;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;
        }
        .login-form .btn:hover {
            background-color: #004d40;
        }
    </style>
{% endblock %}

{% block body %}
<div class="login-container">
    <form method="post" class="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
