{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>CreationDate</th>
                <th>Name</th>
                <th>NameTranslate</th>
                <th>Wight</th>
                <th>Volume</th>
                <th>Brand</th>
                <th>Description</th>
                <th>Temperature</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.creationDate ? product.creationDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.nameTranslate }}</td>
                <td>{{ product.wight }}</td>
                <td>{{ product.volume }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.temperature }}</td>
                <td>
                    <a href="{{ path('app_product_crud_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_crud_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_crud_new') }}">Create new</a>
{% endblock %}
