{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ product.creationDate ? product.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>NameTranslate</th>
                <td>{{ product.nameTranslate }}</td>
            </tr>
            <tr>
                <th>Wight</th>
                <td>{{ product.wight }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ product.volume }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ product.temperature }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_crud_index') }}">back to list</a>

    <a href="{{ path('app_product_crud_edit', {'id': product.id}) }}">edit</a>

    {{ include('product_crud/_delete_form.html.twig') }}
{% endblock %}
